<h1>User profile.</h1>
Avatar: <%= image_tag @user.avatar, class:'imageUser' if @user.avatar.attached? %><br>
First name: <%= @user.first_name %>
Last name: <%= @user.last_name %><br>
Location: <%= @user.location %><br>
Genre: <%= @user.genre %><br>
Date of birth: <%= @user.date_birth %><br>
<%= link_to 'Edit profile', edit_user_path(@user), class:'btn btn-success' %>
Posts: <%= @user.posts.count %><br>
<% @user.posts.each do |post| %>
    Title: <%= post.body %><br>
    <%= link_to 'Edit post', edit_post_path(post), class:"btn btn-primary" %>
    Author: <%= post.user.first_name %> <%= post.user.last_name %><br>
    <% for i in 0...post.images.count %>
        <%= image_tag post.images[i] %>
    <% end %>
<% end %>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>