<div class="jumbotron">
    <h2 class="display-4">
        <%= image_tag @user.avatar, class:'imageUser' if @user.avatar.attached? %> <%= @user.first_name %> <%= @user.last_name %>
    </h2>
    <p class="lead">
        <small>
            <b>
                Following: <%= @following %> Followers: <%= @followers %><br> 
                Posts: <%= @user.posts.count %><br><br>
                <% if @current_account.user != @user %>
                    <% if !(Connection.check_db_connection(@current_account.id, @user.id).exists?) %>
                        <%= link_to 'Follow', create_connection_path(user: @current_account, follower: @user.id), method: :post, class:'btn btn-success' %>
                    <% else %>
                        <%= link_to 'Unfollow', connection_path(user: @current_account, follower: @user.id), method: :delete, class:'btn btn-danger' %>
                    <% end %>
                <% end %>
            </b>
        </small>
    </p>
    <% if @current_account.id == @user.id %>
        <p class="lead">
            <%= link_to 'Edit profile', edit_user_path(@user), class:'btn btn-success' %>
            <%= link_to 'Edit account', edit_account_path(@current_account), class: "btn btn-warning" %>
        </p>
    <% end %>
    <hr class="my-4">
    <p>
        <b>First name:</b> <%= @user.first_name %><br>
        <b>Last name:</b> <%= @user.last_name %><br>
        <b>Email:</b> <%= @user.account.email %><br>
        <b>Location:</b> <%= @user.location %><br>
        <b>Genre:</b> <%= @user.genre %><br>
        <b>Date of birth:</b> <%= @user.date_birth %><br>
        <b>Joined: </b><%= time_ago_in_words(@user.created_at) %>.<br>
    </p>
</div>
<div class="d-flex flex-column">
    <div class="ml-auto mr-auto">
        <% @user.posts.each do |post| %>
            <br>
            <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
                <div class="card-header">
                    <div class="m-auto">
                        <% if @current_account.user == post.user %>
                            <%= link_to 'Edit post', edit_post_path(post), class: "btn btn-warning" %>
                        <% end %>
                    </div>
                </div>
                <div class="card-body">
                    <small>
                        <p class="card-title">
                            <b>Created: </b><%= time_ago_in_words(post.created_at) %> ago.<br>
                        </p>
                    </small>
                    <p class="card-text">
                        <b>Content: </b><%= post.body %><br>
                    </p>
                    <div class="d-flex imagesDiv">
                        <% for i in 0...post.images.count %>
                            <%= image_tag post.images[i], class:"postImage" %>
                        <% end %>
                    </div>
                    <br>
                    <div class="p-3">
                        <div>
                            <% if post.comments.present?  %>
                                <h3>Comments.</h3>
                                    <%= render post.comments %>
                                <% end %>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        <% end %>
    </div>
</div>
