<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="imageLogo">
    </div> 
    <%= link_to 'Yorchwitter', root_path, class:"navbar-brand" %>
    <div class="ml-auto mr-auto">
        <%= render 'searches/form' %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <% if !(logged_in?) %>
                <div class="m-1"><%= link_to 'Sign in', signin_path, class:"btn btn-light" %></div>
                <div class="m-1"><%= link_to 'Create account', signup_path, class:"btn btn-light" %></div>
            <% else %>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <% if @current_account.user %>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @<%= @current_account.user.first_name %> <%= @current_account.user.last_name %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <%= link_to 'Profile settings', user_path(@current_account), class:"dropdown-item" %>
                            </div>
                        <% end %>
                    </li>
                </ul>
                <%= link_to 'New post', new_post_path, class:'btn btn-success mr-2' %>
                <%= link_to 'Sign out', signout_path, method: :delete, class:"btn btn-danger" %>
            <% end %>
        </div>
    </div>
</nav>