<h1>Yorchwitter.com</h1>
<%= link_to 'Create a post', new_post_path, class:'btn btn-success' %><br>
<div class="d-flex flex-column">
    <div class="ml-auto mr-auto">
    <h2 class="text-center">Posts.</h2>
        <% @posts.each do |post| %>
            <div class="card text-white bg-dark mb-3" style="max-width: 90rem;">
                <div class="card-header">
                    <div class="m-auto">
                        <%= link_to 'Show post', post_path(post), class: "btn btn-warning" %> <b>Author</b>: <%= post.user.first_name %> <%= post.user.last_name %>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Content: </b><%= post.body %><br>
                    </p>
                    <small>
                        <p class="card-title">
                            <b>Created: </b><%= time_ago_in_words(post.created_at) %> ago.<br>
                        </p>
                    </small>
                </div>
                <div class="d-flex imagesDiv">
                    <% for i in 0...post.images.count %>
                        <%= image_tag post.images[i], class:"postImage" %>
                    <% end %>
                </div>
                <br>
                <div class="p-3">
                    <div>
                        <% if post.comments.present?  %>
                            <h3>Comments.</h3>
                            <%= render post.comments %>
                        <% end %>
                    </div>
                    <br>
                    <div>
                        <h3>Add comment:</h3>
                        <%= render 'comments/form', obj: post %>
                    </div>
                </div>
            </div>
            <br>
        <% end %>
    </div>
</div>
