<div class="d-flex flex-column">
<% @users_result.each do |user_result| %>
    <br>
    <div class="card mr-auto ml-auto w-75 bg-dark text-white">
        <div class="card-header d-flex justify-content-between">
            <div>
                <%= image_tag user_result.avatar, class:'imageUserComment' if user_result.avatar.attached? %>
                <b>@<%= user_result.first_name %> <%= user_result.last_name %></b>
            </div>
            <div class="mt-auto mb-auto mr-1 ml-auto" >
                <% if @current_account.user != user_result %>
                    <% if !(Connection.check_db_connection(@current_account.id, user_result.id).exists?) %>
                        <%= link_to 'Follow', create_connection_path(user: @current_account, follower: user_result.id), method: :post, class:'btn btn-success' %>
                    <% else %>
                        <%= link_to 'Unfollow', connection_path(user: @current_account, follower: user_result.id), method: :delete, class:'btn btn-danger' %>
                    <% end %>
                <% end %>
                <%= link_to 'Profile', user_path(user_result), class:"btn btn-primary" %>
            </div>
        </div>
        <div class="card-body">
            <b>Email:</b> <%= user_result.account.email %><br>
            <small><b>Joined:</b> <%= time_ago_in_words(user_result.created_at) %>.</small><br>
        </div>
    </div>
    <br>
<% end %>
</div>